.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.textContainer {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.672);
  max-width: 500px;
  flex-wrap: wrap;
  margin: 100px auto;
  color: rgb(223, 222, 222);
  background-color: rgba(0, 0, 0, 0.426);
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

@media screen and (max-width: 800px) {
  .textContainer {
    max-width: 150px;
    margin: 20px auto;
  }
}

.sections {
  width: 1200px;
  display: flex;
}

.image {
  max-height: 300px;
  max-width: 350px;
  border-radius: 30px;
  margin: 20px;
  animation: 1s ease-out 0s 1 slideInFromBottom;
  transition-duration: 400ms;
}

@media screen and (max-width: 800px) {
  .image {
    width: 140px;
    height: 100px;
    transition-duration: 400ms;
  }
}

@media screen and (max-width: 600px) {
  .image {
    width: 110px;
    height: 80px;
    transition-duration: 400ms;
  }
}

.imageContainer {
  margin: 100px auto;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .imageContainer {
    margin-top: 80px;
    max-width: 280px;
    transition-duration: 400ms;
  }
}

@media screen and (max-width: 600px) {
  .imageContainer {
    margin-top: 80px;
    max-width: 200px;
    max-height: 130px;
    transition-duration: 400ms;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(2%);
  }
  80% {
    transform: translateY(0);
  }
}
