.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.textContainer {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.672);
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  margin: 100px auto;
  color: rgb(223, 222, 222);
  background-color: rgba(0, 0, 0, 0.426);
  animation: 1s ease-out 0s 1 slideInFromLeft;
}


@media screen and (max-width: 900px) {
  .textContainer {
    max-width: 265px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 600px) {
  .textContainer {
    max-width: 245px;
    margin: 20px auto;
  }
}


.image {
  max-height: 330px;
  max-width: 560px;
  border-radius: 30px;
  align-self: center;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

@media screen and (max-width: 900px) {
  .image {
    width: 180px;
    height: 100px;
    transition-duration: 400ms;
  }
}

@media screen and (max-width: 600px) {
  .image {
    width: 130px;
    height: 80px;
    transition-duration: 400ms;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
  background-color: rgba(110, 255, 77, 0.341);
  margin-bottom: 30px;
  border-radius: 3px;
}

@media screen and (max-width: 900px) {
  .imageContainer {
    margin-top: 80px;
    max-width: 280px;
    max-height: 200px;
    transition-duration: 400ms;
  }
}

@media screen and (max-width: 600px) {
  .imageContainer {
    margin-top: 80px;
    max-width: 200px;
    max-height: 200px;
    transition-duration: 400ms;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-2%);
  }
  80% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(2%);
  }
  80% {
    transform: translateX(0);
  }
}

