body {
  background: radial-gradient(
    ellipse at left,
    rgb(74, 74, 74),
    rgba(0, 0, 0, 0.964)
  );
  margin: 0;
  align-items: center;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(2%);
  }
  80% {
    transform: translateX(0);
  }
}

