.nav {
  display: flex;
  justify-content: center;
  color: rgb(189, 188, 188);
  padding: 10px;
  max-width: 1500px;
  margin: 0;
}

.logo {
  width: 180px;
  height: 110px;
  transition-duration: 300ms;

}

@media screen and (max-width: 900px) {
  .logo {
    max-width: 120px;
    max-height: 75px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    max-width: 80px;
    max-height: 50px;
  }
}

.logoContainer {
  max-width: 350px;
  margin: 10px auto;
  padding: 20px;
}

.home:hover {
  color: white;
  transition-duration: 200ms;
  transform: translateY(-5px);
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: 10px;
  align-self: center;
}

.links {
  font-size: 25px;
  color: rgb(189, 188, 188);
  text-decoration: none;
  padding: 10px;
  transform: translateY(5px);
  transition-duration: 400ms;
  margin: 0 50px 0px 50px;
}

.active{
  color: rgba(36, 213, 98, 0.832);
  transition-duration: 200ms;
  font-weight: bold;
}


.links:hover {
  color: rgb(255, 255, 255);
  transform: translateY(-5px);
  transition-duration: 400ms;
  font-weight: bold;
}

.linksContainer {
  margin: 30px auto;
}

@media screen and (max-width: 800px) {
  .linksContainer {
    margin-top: 20px;
  }
}


@media screen and (max-width: 800px) {
  .links {
    font-size: 15px;
    padding: 5px;
    margin: 0 15px 0 15px;
    transform: translateY(-5px);
  }
}

@media screen and (max-width: 800px) {
  .home {
    transform: translateY(-4px);
    font-size: 20px;
    padding:0 10px 0 5px
  }
}
@media screen and (max-width: 600px) {
  .links {
    font-size: 9px;
    padding: 5px;
    margin: 10px 15px 0 15px;
    transform: translateY(-5px);
  }
}

@media screen and (max-width: 600px) {
  .home {
    transform: translateY(-4px);
    font-size: 13px;
    padding :0 10px 0 5px;
    margin-top: 10px;
  }
}