.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.textContainer {
  max-width: 500px;
  flex-wrap: wrap;
  margin: 50px;
  color: rgb(223, 222, 222);
  background-color: rgba(0, 0, 0, 0.426);
  animation: 1s ease-out 0s 1 slideInFromLeft;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.672);
  transition-duration: 300ms;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(2%);
  }
  80% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 800px) {
  .textContainer {
    max-width: 290px;
    margin: 50px auto;
    transition-duration: 300ms;
  }
}
@media screen and (max-width: 600px) {
  .textContainer {
    max-width: 250px;
    margin: 70px auto;
    transition-duration: 300ms;
  }
}

.image {
  animation: 1.3s ease-out 0s 1 slideInFromLeft;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  transition-duration: 400ms;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

@media screen and (max-width: 800px) {
  .image {
    max-width: 200px;
    max-height: 200px;
    transition-duration: 400ms;
  }
}

@media screen and (max-width: 600px) {
  .image {
    max-width: 120px;
    max-height: 120px;
    transition-duration: 400ms;
  }
}

.imageContainer {
  margin: 100px auto;
  padding: 20px;
  background-color: rgba(122, 255, 92, 0.409);
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.672);
  transition-duration: 400ms;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}
