.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    max-height: 300px;
    transition-duration: 300ms;
    margin-top: 50px;
  }
  
  @media screen and (max-width: 650px) {
    .footer {
      max-height: 230px;
      transition-duration: 300ms;
    }
  }
  @media screen and (max-width: 1000px) {
    .footer {
      max-height: 230px;
      transition-duration: 300ms;
    }
  }
  
  .iconContainer {
    margin: 10px auto;
    transition-duration: 400ms;
  }
  @media screen and (max-width: 1000px) {
    .iconContainer {
      margin: 5px auto;
      transition-duration: 400ms;
    }
  }
  
  .icon {
    max-height: 100px;
    transition-duration: 400ms;
    margin-top: 20px;
  }
  @media screen and (max-width: 1000px) {
    .icon {
      max-height: 50px;
      transition-duration: 400ms;
    }
  }
  
  .linksContainer {
    margin: 10px auto;
    color: white;
    transition-duration: 400ms;
  }
  
  .links {
    text-decoration: none;
    color: rgb(228, 228, 228);
    padding: 30px;
  }
  
  .links:hover {
    color: white;
  }
  @media screen and (max-width: 1000px) {
    .links {
      padding: 10px;
      transition-duration: 400ms;
    }
  }
  
  .socialMediaIcons {
    height: 50px;
    padding: 0 37px 37px 37px;
    transition-duration: 400ms;
  }
  
  @media screen and (max-width: 1000px) {
    .socialMediaIcons {
      padding: 0 20px 0 20px;
      transition-duration: 400ms;
    }
  }
  