.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.textContainer {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.672);
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  margin: 100px auto;
  color: rgb(223, 222, 222);
  background-color: rgba(0, 0, 0, 0.426);
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@media screen and (max-width: 1000px) {
  .textContainer {
    max-width: 350px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 800px) {
  .textContainer {
    max-width: 265px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 600px) {
  .textContainer {
    max-width: 245px;
    margin: 20px auto;
  }
}


.image {
  max-height: 330px;
  max-width: 560px;
  border-radius: 30px;
  align-self: center;
  animation: 1s ease-out 0s 1 slideInFromRight;
}
@media screen and (max-width: 1400px) {
  .image {
    width: 230px;
    height: 130px;
    transition-duration: 400ms;
  }
}

@media screen and (max-width: 1000px) {
  .image {
    width: 200px;
    height: 130px;
    transition-duration: 400ms;
  }
}

@media screen and (max-width: 800px) {
  .image {
    width: 180px;
    height: 100px;
    transition-duration: 400ms;
  }
}

@media screen and (max-width: 600px) {
  .image {
    width: 150px;
    height: 100px;
    transition-duration: 400ms;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
  background-color: rgba(110, 255, 77, 0.341);
  margin-bottom: 30px;
  border-radius: 3px;
}

@media screen and (max-width: 1400px) {
  .imageContainer {
    margin-top: 80px;
    max-width: 400px;
    max-height: 250px;
    transition-duration: 400ms;
  }
}

@media screen and (max-width: 1000px) {
  .imageContainer {
    max-height: 250px;
    max-width: 360px;
    transition-duration: 400ms;
  }
}

@media screen and (max-width: 800px) {
  .imageContainer {
    margin-top: 80px;
    max-width: 280px;
    max-height: 200px;
    transition-duration: 400ms;
  }
}

@media screen and (max-width: 600px) {
  .imageContainer {
    margin-top: 80px;
    max-width: 200px;
    max-height: 200px;
    transition-duration: 400ms;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-2%);
  }
  80% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(2%);
  }
  80% {
    transform: translateX(0);
  }
}

.heading {
  margin: 0;
  font-size: 25px;
  padding: 30px;
  color: rgba(0, 255, 89, 0.716);
}
@media screen and (max-width: 900px) {
  .heading {
    font-size: 15px;
    padding: 15px;
  }
}

.text {
  font-size: 20px;
  padding: 0 30px 0 30px;
  margin: 0 0 30px 0;
}

@media screen and (max-width: 900px) {
  .text {
    font-size: 15px;
    padding: 0 15px 0 15px;
  }
}

/* footer */

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  max-height: 300px;
  transition-duration: 300ms;
  margin-top: 50px;

}

@media screen and (max-width: 650px) {
  .footer {
    max-height: 230px;
    transition-duration: 300ms;
  }
}
@media screen and (max-width: 1000px) {
  .footer {
    max-height: 230px;
    transition-duration: 300ms;
  }
}

.iconContainer {
  margin: 10px auto;
  transition-duration: 400ms;
}
@media screen and (max-width: 1000px) {
  .iconContainer {
    margin: 5px auto;
    transition-duration: 400ms;
  }
}

.icon {
  max-height: 100px;
  transition-duration: 400ms;
  margin-top: 20px;
}
@media screen and (max-width: 1000px) {
  .icon {
    max-height: 50px;
    transition-duration: 400ms;
  }
}

.linksContainer {
  margin: 10px auto;
  color: white;
  transition-duration: 400ms;
}

.links {
  text-decoration: none;
  color: rgb(228, 228, 228);
  padding: 20px;
}

.links:hover {
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .links {
    padding: 10px;
    transition-duration: 400ms;
  }
}

.socialMediaIcons {
  height: 50px;
  padding: 0 25px 25px 25px;
  transition-duration: 400ms;
}

@media screen and (max-width: 1000px) {
  .socialMediaIcons {
    padding: 0 20px 0 20px;
    transition-duration: 400ms;
  }
}
